# IDE stuff
.idea
.vs

# Build directories
build
cmake-build-debug
cmake-build-release
out

# Xcode stuff
*.xcworkspace
*.xcuserdatad
*.xcscheme

# Apple stuff.
.DS_Store

# Extras
config.cfg

libdpp.a
